version: '3.9'

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: api
    ports:
      - "3000:3000"   # REST API
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: 1234
      DB_DATABASE: robots
      REDIS_HOST: redis
      REDIS_PORT: 6379
      JWT_SECRET: mysupersecretkey
    depends_on:
      - db
      - redis

  frontend:
    build:
      context: ./mini-fleet-frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3001:3000"
    depends_on:
      - api

  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: robots
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql   # <-- Mount init script

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

volumes:
  db_data:
